__pycache__/
*/__pycache__/
/algorithm/fedrl_utils/ddpg_agent/__pycache__/
/algorithm/fedrl_utils/buffers
/algorithm/fedrl_utils/models
/algorithm/fedrl_utils/baseline
/algorithm/kd_utils/
/benchmark/*/data
/fedtask/
.vscode*
/utils/figures/
*.txt
test*
results/
results_distill/
results_experiments/
results_mobile/
*.csv
*.pt
algorithm/distill_fl/kip/dataset/cifar-10-batches-py/
*.gz
/log/*
# /results_distill
# /results_distill
# *.csv
# /results_experiments/